mat-form-field {
  margin-left: 16px;
  margin-right: 16px;
}

label {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
}

.title {
  margin-left: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
}
