table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.filtros {
  width: 200px;
  margin-right: 16px; 
}

.buscar-button {
  background-color: blue;
  color: white;
}

.add-button {
  background-color: green;
  color: white;
}

.remove-button {
  color: red;
}

.edit-button {
  color: blue;
}
